* {
  box-sizing: border-box;
}

body {
  background-color: #17181F;
  color: #ddd;
}

main {
  max-width: 660px;
  margin: 30px auto;
}
.head{
  margin: 30px auto;
  max-width: 360px;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0;
}

form {
  margin-top: 20px;
}

form input {
  width: 100%;
  background-color: transparent;
  color: #ddd;
  padding: 2px 5px ;
  border-radius: 5px;
  border: 2px solid #30313d;
}
form input[type="datetime-local"]{
  color: #777;
}

form .basics {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
form button {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  margin-top: 5px;
}
.transactions {
  margin-top: 15px; 
}
.transaction {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-top: 1px solid #30313d;
}
.transaction:first-child {
  border: none;
}
.transaction .name {
  font-size: 1.2rem;
}
.transaction .description {
  font-size: .7rem;
  color: #888;
}
.right {
  text-align: right;
}
.price.green {
  color: #1c1;
}
.price.red {
  color: #c11;
}
.transaction .datetime {
  font-size: .7rem;
  color: #888;
}